<header class="mdl-layout__header">
<!-- <div class="page-content"> -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <a href="index.htm">
          <img src="img/logo.svg" id="logo" alt="Geeks & Places" width="34">
        </a>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Menu -->
      <div class="navbar-menu">
        <a href="#" class="mdl-color-text--grey-600">Blog</a>
        <a href="#" class="mdl-color-text--grey-600">About</a>
        <a href="#" class="mdl-color-text--grey-600">Destinations</a>
        <a href="#" class="mdl-color-text--accent">Subscribe</a>
      </div>
    </div>
  </div>
<!-- </div> -->
</header>

<br><br><br><br>
