
.home-intro {
  margin-top: 50px;
  margin-bottom: 30px;
  p {
    font-size: 22px;
  }
  a:hover {
    color: $grey-color !important;
  }
}

.home-introContainer {
  margin: 0;

}

.home-wrapper {
  background-color: #F1F4F9;
  .cover-wrapper .mdl-grid {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .page-content {
    margin-bottom: 80px;
  }
  .mdl-card a:hover {
    color: #ff5252 !important;
  }
  .mdl-card a {
    transition: color 200ms;
  }
}
